.auth-container
  display: flex
  justify-content: column
  align-items: center
  background-color: #000000
  margin: 19px
  margin-bootom:10px

h2
    margin: 0
    height: 30vh
    font-size: 5vh
    text-shadow: 2px 2px 4px red
    